

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.out

# Debug files
*.dSYM/

.deps/
.dirstamp

test_c3dlas
.gpuedit.session
pcgtest

